* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
/* .navbar{
  background: #f1f1f1;
} */
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 16px 0px;
  color: #999;
  vertical-align: bottom;
  margin-top: 40px;
  text-align: center;
  /* width: 100%; */
  /* height: 2.5rem;   */
}

.banner {
  height: 500px;
  width: 100%;
  background: #999;
  margin: 20px 0px;
}

.content {
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
}

/* ================================== */
/* Layout page CSS */
/* ================================== */

.tile {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  height:100%;
  width:100%;
  position:relative;
  border-radius: 10px;
  overflow: hidden;
}
.tile img {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  height:100%;
  width:100%;
  transition:all 0.2s;
}
.tile img:hover {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  transform: scale(1.1);
  filter:brightness(50%);
}

/* Hint: Notice the position:absolute and z-index properties. */
/* Think about how those in relation to the existing "tile" classes. */
.tile-text {
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: lightgray;
  bottom:0;
  left:0;
  right:0;
  /* text-align:center;
  color:white; */

}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/hero.jpg");
  background-position: center;
  background-size:cover;
  height:50vh;
  /* height:400px;
  margin : 10%;
  display: flex;
  flex-direction: column; */
  
}

.hero-subheading {
  font-size: 24px;
  font-weight: 100;
}
.hero-input {
  width: 80%;
  height: 50px;
  padding: 16px;
  border-radius: 8px;
  border: none;
}
/* .hero-subheading {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

 Styles for the input */
/* .hero-input {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  padding: 16px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  text-align: center;
} */

.nav-link { 
  margin-right: 36px;
}

/* ================================== */
/* Adventures grid page CSS */
/* ================================== */

.adventure-card {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  height:100%;
  width:100%;
  position:relative;
  border-radius: 10px;
  overflow: hidden;

}
.adventure-card img {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  height:85%;
  width:100%;
  transition:all 0.2s;
}
.adventure-card-text {
  display: flex;
  justify-content: space-between;
  text-align:center;
  position: relative;
  font-family:sans-serif;
  z-index: 1;
  letter-spacing: 2px;
  top: 2rem;
  bottom:0;
  /* left:0;
  right:0; */
  padding-left: 1rem;
  padding-right: 1rem;
}

/* .explore{
  display:flexbox;
  top:1rem;
} */

.adventure-card img:hover {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  transform: scale(1);
  filter:brightness(30%);

}

/* ================================== */
/* Adventure details page CSS */
/* ================================== */

.adventure-detail-card {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */

}

.adventure-card-image {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
}
.adventure-card-image:hover {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
}
.experience-content ul li {
  margin-left: 16px;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  /* For desktops phones: */
  #reservation {
    width: 400px;
    position: fixed;
  }
}
